{{!-- <div style="margin-left: 200px; margin-right: 200px">
  <div class="indexNav">
    <ul class="nav justify-content-end">
     
<div style="margin-left: 200px; margin-right: 200px; font-size: 13px">

 <br><br> --}}



{{!-- <div class="formDiv">
  <h4>Create New</h4>
  <form id="createplan">
    <div class="form-group-sm row">
      <div class="col-sm">
        <label for="ex1">B/L</label>
        <input class="form-control form-control-sm" placeholder="BL" name="BL" id="BL" required style="text-transform: uppercase">
      </div>
      <div class="col">
        <label for="ex2">Terminal_Name</label>
        <input class="form-control form-control-sm" placeholder="Terminal Name" name="Terminal_Name" id="Terminal_Name" required style="text-transform: uppercase">
      </div>
      <div class="col">
        <label for="ex3">Container_No.</label>
        <input class="form-control form-control-sm" placeholder="Container No." name="Container_No" id="Container_No" required style="text-transform: uppercase">
      </div>
      <div class="col">
        <label for="ex1">Vassel_No.</label>
        <input class="form-control form-control-sm" placeholder="Vassel No." name="Vassel_No" id="Vassel_No" required style="text-transform: uppercase">
      </div>
      <div class="col">
        <label for="ex2">ETA</label>
        <input type="date" class="form-control form-control-sm" placeholder="ETA" name="ETA" id="ETA" required style="text-transform: uppercase">
      </div>
      <div class="col">
        <label for="ex3">Weight_(kg)</label>
        <input type="number" step="0.001" name="amount" placeholder="0.000" class="form-control form-control-sm"
          name="Weight" id="Weight" required style="text-transform: uppercase">
      </div>
      <div class="col">
        <label for="ex1">Seal_No.</label>
        <input class="form-control form-control-sm" placeholder="Seal No." name="Seal_No" id="Seal_No" required style="text-transform: uppercase">
      </div>
      <div class="col">
        <label for="ex2">Local_Delivery</label>
        <input class="form-control form-control-sm" placeholder="Local Delivery" name="Delivery_Location"
          id="Delivery_Location" required style="text-transform: uppercase">
      </div>
      <div class="col">
        <label for="ex3">Status</label>
        <select class="form-control form-control-sm" name="Status_" id="Status_" required style="text-transform: uppercase">
          <option selected>Choose...</option>
          <option>Done</option>
          <option>Pending</option>
        </select>
      </div>
      <div class="col">
        <label for="ex1">Return</label>
        <select class="form-control form-control-sm" name="Return_" id="Return_" required style="text-transform: uppercase">
          <option selected>Choose...</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
      <div class="col">
        <label for="ex2">Close</label>
        <select class="form-control form-control-sm" name="Close_" id="Close_" required style="text-transform: uppercase">
          <option selected>Choose...</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
          <button type="submit" class="btn btn-secondary btn-sm" style="margin-top: 25px">Save</button>
    </div>
  </form>
  <br>
  <hr>
</div> --}}



</div>




<script type="text/javascript">

{{!-- Table Bootstrap --}}
  $(document).ready(function () {
    $('#example').DataTable();
  });


  

</script>